<h1 class="page-header">Написать сообщение</h1>
<div>
    <form ng-submit="sendMessage()" name="newMessageForm">
        <h4>Выберите получателя</h4>
        <select ui-select2 ng-model="addressee" multiple="multiple" style="width: 100%" lang="ru" required>
            <option ng-repeat="user in users" value="{{user.username}}">{{user.username}}</option>
        </select>
        <textarea style="margin-top: 30px; margin-bottom: 15px; resize: none" ng-model="text" id="" rows="17" class="form-control" placeholder="Введите текст сообщения"></textarea>
        <div>
            <button class="btn btn-default" type="submit" ng-disabled="newMessageForm.$invalid">Отправить сообщение</button>
        </div>
    </form>
</div>

