<h1 class="page-header">Непрочитанные</h1>
<div class="table-responsive">
    <table class="table table-striped table-hover" ng-show="MessagesLength !== 0">
        <thead>
        <tr>
            <th></th>
            <th>Отправитель</th>
            <th>Текст сообщения</th>
            <th>Дата</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="message in messages | orderBy : sortDate">
            <td>
                <form ng-submit="readMessage()">
                    <button class="btn btn-default" type="submit">
                        <i class="fa fa-envelope" title="Прочитать новое сообщение"></i>
                    </button>
                </form>
            </td>
            <td>{{message.sender}}</td>
            <td style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; max-width: 300px;">{{message.text}}</td>
            <td>{{message.date | date: dd.MM.yyyy}}</td>
        </tr>
        </tbody>
    </table>
    <p class="text-center" ng-show="MessagesLength == 0">Нет новых сообщений</p>
</div>